venv/

__pycache__/
*.pyc

.idea/
.vscode/
.DS_Store

.env

media_agent/pids/
media_agent/logs/
media_agent/data/
*.log
api.pid

# Ignore Docker service runtime data
media_agent/docker/radarr/
media_agent/docker/sonarr/
media_agent/docker/qbittorrent/
media_agent/docker/jackett/